<h3>Project: <%= @group_project.task %></h3>
<% if !@current_user.group_projects.include?(@group_project) && @group.users.include?(@current_user)  %>
  <%= link_to "Join Project", group_project_join_path, method: :post %>
<% end %>
<p><strong>Start Date: </strong><%= (@group_project.start_date).to_s(:short) %></p>
<p><strong>End Date: </strong><%= (@group_project.end_date).to_s(:short) %></p>
<p><%= link_to "Delete Project", group_group_project_path(@group_project.group, @group_project), method: :delete %></p>
<h3>User Tasks</h3>
<!-- Modal Trigger -->
<a class="" href="#modal1">Create User Task</a>

<%= render partial: "shared/user_task", locals: { :group_project => @group_project} %>

<!-- Modal Structure -->
<%= render "new_user_task", locals: { :user_task => @new_user_task, :group_project => @group_project } %>
