<h2>Company schedule</h2>
<% @group_projects.each do |gp| %>
  <p><%= gp.start_date.to_s(:short) %> - <%= gp.end_date.to_s(:short) %> <%= gp.task %></p>
<% end %>
<%= month_calendar(attribute: :start_date,end_attribute: :end_date,  events: @group_projects) do |date, meetings| %>

  <%= date.strftime("%-d") %>

  <% meetings.each do |meeting| %>
    <div>
      <p style="font-size:10px"><i class="fa fa-asterisk" aria-hidden="true"></i> <%= link_to meeting.group.name, meeting.group, style: "color:black" %></p>
      <!-- <p style="font-size:10px"><%#= meeting.task %></p> -->
    </div>
  <% end %>
<% end %>
