<% provide(:org, @org.to_yaml) %>
<h2><%= @org.name.capitalize %></h2>
<p><%= @org.description %></p>
<p><%= link_to "Members", org_user_path(@org) %></p>
<p><%= link_to "Shedule", org_cal_path(@org) %></p>

<%= render partial: "shared/post", locals: { :group => @org, :all_post => @all_post, :path => organisation_posts_path(@org) } %>

<hr>
<h3>Departments</h3>
<!-- Modal Trigger -->
<a href="#modal1">Create Department</a>
<%= render partial: "shared/group", locals: { :org => @org } %>

<% if @current_user.organisations.empty? %>
  <p><%= link_to "Request to join", org_join_path %></p>
<% end %>

<!-- Modal Structure -->
<%= render "new_group" %>
