<% provide(:org, @org.to_yaml) %>
<h2 class="thin"><%= @org.name.capitalize %></h2>
<p><%= @org.description %></p>
<p><%= link_to "Members", org_user_path(@org) %></p>

<div class="center">
  <div class="row">
    <div class="col s12 m4 offset-m2">
      <div class="card hoverable center">
        <div class="card-content">
          <span class="card-title"><p ><%= link_to "Today", org_cal_path(@org) %></p></span>
          <hr>
            <% count = 0 %>
            <% @org.group_projects.each do |gp| %>
              <% if gp.start_date <= Time.now && gp.end_date >= Time.now && count < 2 %>
                  <p><%= gp.task %></p>
                  <p><%= gp.start_date %></p>
                  <% count += 1 %>
                  <hr>
              <% end %>
          <% end %>
        </div>
        <div class="card-action">
          <p><%= link_to "Full calendar", org_cal_path(@org), class: "blue-text" %></p>
        </div>
      </div>
    </div>
  <%= render partial: "shared/post", locals: { :group => @org, :all_post => @all_post, :path => organisation_posts_path(@org) } %>
  </div>
</div>


<hr>
<h3 class="thin">Departments</h3>
<!-- Modal Trigger -->
<a href="#modal1">Create Department</a>
<%= render partial: "shared/group", locals: { :org => @org } %>

<% if @current_user.organisations.empty? %>
  <p><%= link_to "Request to join", org_join_path %></p>
<% end %>

<!-- Modal Structure -->
<%= render "new_group" %>
