<h3><%= @org.name %>'s posts</h3>
<hr>
<%= form_for @post, remote: true do |f| %>
  <p><%= f.text_area :post, placeholder:"New task here", class: "org_input" %>
  <%= f.submit "Post", class: "btn btn-primary org_post" %></p>
<% end %>
<%= will_paginate @all_post %>
<div class="main">
<%= render @all_post %>
</div>
<%= will_paginate @all_post %>
