<h2><%= @group.name.capitalize %></h2>

<% if !@current_user.groups.include?(@group) && @group.organisation.users.include?(@current_user) %>
  <p><%= link_to 'Request to join group', group_join_path(@group.id) %></p>
<% end %>

<p><%= link_to "Members", group_user_path(@group) %></p>

<%= render partial: "shared/post", locals: { :group => @group, :all_post => @all_post, :path => group_post_path(@group) } %>

<% if @current_user.groups.include?(@group) && @group.organisation.users.include?(@current_user) %>
  <%= link_to "Leave group", group_leave_path(@group) %>
<% end %>
<br>
<% if @current_user.groups.include?(@group) && @group.organisation.users.include?(@current_user) %>
  <%= link_to "Delete group", group_path(@group), method: :delete, data: { confirm: "Are you sure"} %>
<% end %>
<h3>Projects</h3>

<!-- Modal Trigger -->
<a class="" href="#modal1">Create Project</a>

<div class="center">
  <%= render @group_project %>
</div>


<!-- Modal Structure -->
<%= render "new_project", locals: { :group => @group, :new_group_project => @new_group_project } %>
