<h2><%= @group.name.capitalize %></h2>

<% if !@current_user.groups.include?(@group) && @group.organisation.users.include?(@current_user) %>
  <p><%= link_to 'Request to join group', group_join_path(@group.id) %></p>
<% end %>

<p><%= link_to "Members", group_user_path(@group) %></p>

<%= render partial: "shared/post", locals: { :group => @group, :all_post => @all_post, :path => group_post_path(@group) } %>

<% if @current_user.groups.include?(@group) && @group.organisation.users.include?(@current_user) %>
  <%= link_to "Leave group", group_leave_path(@group) %>
<% end %>
<br>
<% if @current_user.groups.include?(@group) && @group.organisation.users.include?(@current_user) %>
  <%= link_to "Delete group", group_path(@group), method: :delete, data: { confirm: "Are you sure"} %>
<% end %>
<h3>Projects</h3>

<div class="center">
  <% @group.group_projects.each do |group_project| %>
    <%= render partial: "shared/group_project", locals: { :group => @group, :group_project => group_project } %>
  <% end %>
</div>

<p><%= link_to "New project", new_group_group_project_path(@group) %></p>

<%= link_to "group project", group_group_project_path(@group, 3) %>
