<h2><%= @user.name %>'s profile</h2>
<% if @user.image.present? %>
  <%= cl_image_tag("#{@user.image}.jpg", class: "image-profile")  %>
<% else %>
  <%= cl_image_tag("d7lyubpaypdovu59qywz.jpg", class: "image-profile")  %>
<% end %>
<p><%= @user.email %></p>
<p><%= @user.job_title %></p>
<% if @current_user.organisations.blank? %>
  <%= link_to "Find organisation", organisations_path %>
<% end %>
<% if @current_user == @user %>
  <%= link_to "Edit User", edit_user_path(@current_user.id) %>
<% end %>

<h3 class="center">User task</h3>
<%= render partial: "shared/user_task", locals: { :group_project => @user} %>

<h3 class="center">Projects</h3>
<div class="center">
  <% @user.group_projects.uniq.each do |group_project| %>
    <%= render partial: "shared/group_project", locals: { :group => @group, :group_project => group_project } %>
  <% end %>
</div>

<h3 class="center">Groups</h3>
<%= render partial: "shared/group", locals: { :org => @user } %>
